//
//  Secret.xcconfig
//  Splitza
//
//  Created by Jeffry Sandy Purnomo on 26/09/25.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNuZWx6aWVudmNqc25jb3hqZ29rIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTMwNzUxMTYsImV4cCI6MjA2ODY1MTExNn0.J_aIVMSE4H9C-j22HcaAJNB5Bg4ASGF8VOYXcK7GjoQ
SUPABASE_DEV_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZS1kZW1vIiwicm9sZSI6ImFub24iLCJleHAiOjE5ODM4MTI5OTZ9.CRXP1A7WOeoJeXxjNni43kdQwgnWNReilDMblYTn_I0
