//
//  Secret.xcconfig
//  Splitza
//
//  Created by Jeffry Sandy Purnomo on 26/09/25.
//

SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNuZWx6aWVudmNqc25jb3hqZ29rIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1MzA3NTExNiwiZXhwIjoyMDY4NjUxMTE2fQ.murmB5lKurlrZ5nj-JXoKOkIIQ4XtIAIAcA26zioFUk"
